html, body, :global(#root) {
  height: 100%;
}

@font-face {
  font-family: anticon;
  src: url(./assets/iconfont/iconfont.eot);
  src: url(./assets/iconfont/iconfont.eot?#iefix) format("embedded-opentype"),url(./assets/iconfont/iconfont.woff) format("woff"),url(./assets/iconfont/iconfont.ttf) format("truetype"),url(./assets/iconfont/iconfont.svg#iconfont) format("svg")
}
